<div>
  <div class="card" [@crossfade]="state">
    <div class="card-header" style="background: black; color:white">
      <h2><b>Question number #{{numQuestion + 1}}</b></h2>
    </div>
    <div class="card-block">
      <h4 class="card-title"><b>Question:</b></h4>
      <h6 class="card-subtitle mb-2">{{question}}</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let respuesta of answers; let i = index" [ngClass]="{'correctAnswer': respuesta == optionSelected && solucionado  && respuesta == correct_answer, 'errorAnswer': respuesta == optionSelected && solucionado  && respuesta != correct_answer}">
        <input name="respuesta" ng-control="options" type="radio" [value]="respuesta" [(ngModel)]="optionSelected" [disabled]="solucionado"
        /><span style="padding-left: 1rem;"> {{respuesta}}</span>
        <span *ngIf="solucionado && respuesta == correct_answer" style="margin-left:1rem; color:green"><fa [name]="'check-circle'"></fa></span>
        <span *ngIf="solucionado && respuesta != correct_answer" style="margin-left:1rem; color:red;"><fa [name]="'times'"></fa></span>
      </li>
    </ul>
    <div class="card-footer text-muted" style="background:black;">
      <div class="row">
        <div class="col-sm-6">
          <b>Difficulty:</b> <i style="color:white;">{{difficulty}}</i>
        </div>
        <div class="col-sm-6">
          <b>Category:</b> <i style="color:white;">{{category}}</i>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="text-center" [@crossfadeButton]="state">
    <button *ngIf="!solucionado" type="button" class="btn btn-warning" (click)="evaluar()" [disabled]="optionSelected == null">Check</button>
    <button *ngIf="solucionado" type="button" class="btn btn-warning" (click)="next()">Next</button>
  </div>
</div>
