<div *ngIf="!juegoEmpezado && !juegoTerminado">
  <button *ngIf="!juegoCargando" type="button" (click)="empezar()">Empezar</button>
  <h2 *ngIf="juegoCargando">Cargando...</h2>
</div>
<div *ngIf="!juegoEmpezado && juegoTerminado">
  <button type="button" (click)="reiniciar">Reiniciar</button>
</div>

<div *ngIf="juegoEmpezado && !juegoTerminado">
  <div id="tarjeta">
    <div id="pregunta">
      <p>{{question}}</p>
    </div>
    <div id="respuestas">
      <div class="respuesta" *ngFor="let respuesta of answers; let i = index">
        <input name="respuesta" ng-control="options" type="radio" [value]="respuesta" [(ngModel)]="optionSelected" [disabled]="solucionado"/>{{respuesta}}
          <span *ngIf="solucionado && respuesta == correct_answer">OK</span>
          <span *ngIf="solucionado && respuesta != correct_answer">KO</span>
      </div>
      <br/>
    </div>
    <div id="bottomZoneTarget">
      <div id="categoria">Category: {{category}}</div>
      <div id="dificultad">Difficulty: {{difficulty}}</div>
    </div>
    <button *ngIf="!solucionado" type="button" (click)="evaluar()">Evaluar</button>
    <button *ngIf="solucionado" type="button" (click)="next()">Siguiente</button>
  </div>
</div>
