<div class="row">
    <div class="col-sm-7">
        <h1>Trivial</h1>
    </div>
    <div class="col-sm-5">
        <h3>Puntuación: {{score}}</h3>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12" *ngIf="!juegoEmpezado && !juegoTerminado">   
        <button *ngIf="!juegoCargando" type="button" (click)="empezar()">Empezar</button>
        <h2 *ngIf="juegoCargando">Cargando...</h2>
    </div>
    <div class="col-sm-12" *ngIf="!juegoEmpezado && juegoTerminado">
        <button type="button" (click)="reiniciar">Reiniciar</button>
    </div>
    
    <div class="col-sm-6" *ngIf="juegoEmpezado && !juegoTerminado">
        <app-tarjeta [data]="tarjet" (tarjetaResuelta)="changeScore($event)" (siguienteTarjeta)="nextTarget($event)"></app-tarjeta>
    </div>
</div>