<!-- <div class="row" style="font-style: italic; background:black; color:white;">
    <div class="col-sm-7">
        <h1>Trivial</h1>
    </div>
    <div class="col-sm-5 text-right">
        <h3>Puntuación: </h3>
    </div>
</div> -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="container">
        <p class="navbar-brand linkHeader">
            <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""> Trivial
        </p>
        <div class="nav navbar-nav mr-auto">
            <a class="nav-link" href="/">Home</a>
        </div>
        <div class="nav navbar-nav">
            <p class="nav-link linkHeader" [hidden]="!(juegoEmpezado && !juegoTerminado)">
                <span>Score: </span><span style="color:white">{{score}}</span>
            </p>
        </div>
    </div>
</nav>
<div class="row justify-content-center" style="margin-top:2rem">
    <div class="col-sm-12 text-center" [hidden]="!(!juegoEmpezado && !juegoTerminado)" [@changeMode]="zonaInicio">
        <div [hidden]="juegoCargando">
            <div class="row zoneConfig">
                <div class="col-sm-12">
                    <h2>Choose the settings of your game</h2>
                </div>
                <div class="col-sm-12">
                    <hr/>
                    <div class="form-group row">
                        <label for="difficultyOption" class="col-2 col-form-label">Difficulty</label>
                        <div class="col-10">
                            <select class="form-control" id="difficultyOption" [(ngModel)]="service.difficultyUserSelection">
                                <option value="">any</option>
                                <option>easy</option>
                                <option>medium</option>
                                <option>hard</option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label for="typeQuestions" class="col-2 col-form-label">Type</label>
                        <div class="col-10">
                            <select class="form-control" id="typeQuestions" [(ngModel)]="service.typeQuestionsUserSelection">
                                <option value="">any</option>
                                <option value="boolean">true/false</option>
                                <option value="multiple">multiple</option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label for="typeQuestions" class="col-2 col-form-label">Category</label>
                        <div class="col-10">
                            <select class="form-control" id="typeQuestions" [(ngModel)]="service.categoryQuestionsUserSelection">
                                <option value="">any</option>
                                <option *ngFor="let category of service.typeCategories" value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label for="numQuestionUserConfiguration" class="col-2 col-form-label">Number of questions</label>
                        <div class="col-10">
                            <input class="form-control" type="number" id="numQuestionUserConfiguration" [(ngModel)]="service.numberOfQuestionsSelection" min="1" max="100">
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-warning" (click)="empezar()">Start</button>
                </div>
            </div>
            <!-- difficultyUserSelection -->
        </div>
        <!-- <h2 [hidden]="!juegoCargando" style="font-style:italic;">Cargando...</h2> -->
        <div [hidden]="!juegoCargando" class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="col-sm-12 text-center" [hidden]="!juegoTerminado" [@changeMode]="zonaTarjetas">
        <div class="row zoneConfig">
            <div class="col-sm-12"><h2>¡¡The game is finished!!</h2></div>
            <div class="col-sm-12"><h4>Congratulations, your score has been: {{score}}</h4></div>
            <div class="col-sm-12"><button type="button" class="btn btn-warning" (click)="reiniciar()" style="margin-top:2rem;">Restart</button></div>
        </div>
    </div>
    
    <div class="col-sm-8" [hidden]="!(juegoEmpezado && !juegoTerminado)" [@changeMode]="zonaFinJuego">
        <app-tarjeta [numQuestion]="numCurrentQuestion" [data]="tarjet" (tarjetaResuelta)="changeScore($event)" (siguienteTarjeta)="nextTarget($event)"></app-tarjeta>
    </div>
</div>